body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#another {
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.D {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

#red {
    background-color: #FF0000;
}

#yellow {
    background-color: #FFFF00;
}

#green {
    background-color: #00FF00;
}

.gray {
    background-color: #808080;
}